# Application
BASE_URL=http://localhost:3000
API_BASE_URL=http://localhost:3000/api

# Browser (leave empty to run all: chromium, firefox, webkit, edge)
BROWSER=

# CI
CI=false

# Email Service (mailosaur | mock)
EMAIL_SERVICE=mock
MAILOSAUR_API_KEY=
MAILOSAUR_SERVER_ID=

# Authenticator Service (mock)
AUTHENTICATOR_SERVICE=mock

# Logging
LOG_LEVEL=info

# Test Data
TEST_DATA_SEED=true
